.App {
  font-family: sans-serif;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  margin: 1rem 0.5rem;
}

.box {
  background: #ddd;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.box li {
  list-style: none;
}

.small-font {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.rating {
  color: #b38f00;
  margin-top: 0.5rem;
}
